<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <form class="p-4 shadow text-center">
          
          <!-- Description Box -->
          <div class="form-group mb-3">
            <textarea class="form-control" placeholder="Enter your description" name="description"></textarea>
          </div>
          
          <!-- Image Upload -->
          <div class="form-group d-flex align-items-center">
            <button type="submit" class="btn btn-primary mr-2">Post</button>
            <input type="file" id="imageUpload" (change)="onFileSelected($event)" accept="image/*">
          </div>
          <div class="mb-2">
            
          </div>
          <!-- Display Uploaded Image -->
          <div *ngIf="selectedFile">
            <img [src]="selectedFileUrl" alt="Uploaded Image" class="img-fluid mt-3">
          </div>
        </form>
      </div>
    </div>
  </div>
  